{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container mt-5 w-50 style="min-width:300px; max-width:500px;">
    <h1 class="text-center text-primary mb-4">Create a New Course</h1>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="card shadow-sm border-0">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <!-- Render the form -->
                        {{ form|crispy }}

                        <!-- Submit Button -->
                        <div class="text-center">
                            <input type="submit" value="SAVE" class="btn btn-primary w-50">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
